[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eurocordexr"]
	path = eurocordexr
	url = https://github.com/mitmat/eurocordexr
